.corrida__info {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem; 

   
    
    .corrida__acordion {
        @include celular {
            padding: 0rem .5rem;
        }
    }

    .corrida__info--titulo {
        font-family: $fonte-titulo;
        font-size: 2.5rem;

        @include celular {
            font-size: 2.2rem;
            text-align: center;
        }
    }

    .corrida__info--acordion {
        width: 25rem; /*400px*/ 
        background-color: $cor-menu;
        border-radius: 12px;
        padding: .4rem;
        margin-bottom: .6rem;
        box-shadow: 2px 0px 0px 1px #000;
        cursor: pointer;
        

        &:hover {
            background-color: #e4e4e4;
            transition: all .4s;
        }

        &:hover  .corrida__info--sumario {
            color: #000;
        }

        @include celular {
            width: 330px;
        }
    }

    .corrida__info--sumario {
        font-family: $fonte-corpo;
        margin-bottom: 1rem;
        color: #fff;
       
        @include celular {
            font-size: 1rem;
        }
       

    }

    .corrida__info--sumario::marker {
        font-size: 2rem;    
    }

    .corrida__info--sumario--p {
        margin-bottom: .5rem;
        font-family: $fonte-corpo;
        font-weight: 100;
        font-size: .9rem;
        list-style: disc;
        animation: mymove .5s ease-in-out; 

        @include celular {
            font-size: .8rem;
            padding: .4rem;
        }
    }

  

 
    @keyframes mymove {
        from {
            margin-bottom: 100px;
            opacity: 0;
        }
        to {
            margin-bottom: 0px;
            opacity: 1;
        }
      }
    
}