.header {
    background-image: url("../img/header/background-header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0rem;
    height: 120vh;
}

.nav {
    width: 200px;
    position: fixed;
    top: 10px;
    left: 5px;
    
}

.nav.ativo {
    display: block;
}

.icone__menu {
    width: 70px;
    margin-bottom: .5rem;
    cursor: pointer;

    &:hover {
        width: 67px;
        transition: all .3s;
    }
}

.nav__links {
    display: none;
    flex-direction: column;
}

.nav__links.ativo {
    display: flex;
}

.nav__link {
    display: flex;
    gap: .3rem;
    align-items: center;
    background: $cor-menu;
    box-shadow: 1px 1px 10px 1px $cor-link;
    border: 1px solid rgba(85, 193, 255, 1);
    padding: .4rem;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    cursor: pointer;

    &:hover {
        background-color: $cor-link;
        transition: all .5s;
    }

    &:hover .nav__nome  {
        color: #000;
        transition: all .5s;
    }
}

.nav__img--ico {
    width: 30px;
}

.nav__nome {
   font-family: $fonte-menu;
   color: #fff;
}
