.header {
    background-image: url("../img/header/header-Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;

    @include celular {
        width: 250px; 
        height: 90vh;
        margin: 0rem 1rem;
    }
}

.header__titulo--h1 {
    position: absolute;
    font-family: $fonte-titulo;
    color: $cor-menu;
    right: 70px;
    top: 120px;
    font-size: 5rem;

    
    @include celular {
        position: absolute;
        font-family: $fonte-titulo;
        right: -50px;
        top: 320px;
        font-size: 2.2rem;
        color: $cor-menu;
    }
    
}

.header__titulo--h2 {
    position: absolute;
    right: 0px;
    top: 200px;
    font-size: 6rem;
    font-family: $fonte-titulo;
    color: $cor-menu;


    @include celular {
        position: absolute;
        font-family: $fonte-titulo;
        right: -75px;
        top: 360px;
        font-size: 2.3rem;
        color: $cor-menu;
    }
    
}

.nav {
    width: 200px;
    position: fixed;
    top: 90px;
    right: 14px;
    
}

.nav.ativo {
    display: block;
}

.icone__menu {
    width: 70px;
    margin-bottom: .5rem;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 8px;

    &:hover {
        width: 67px;
        transition: all .3s;
    }
}

.nav__links {
    display: none;
    flex-direction: column;
}

.nav__links.ativo {
    display: flex;
}

.nav__link {
    display: flex;
    gap: .3rem;
    align-items: center;
    background: $cor-menu;
    box-shadow: 1px 1px 10px 1px $cor-link;
    border: 1px solid rgba(85, 193, 255, 1);
    padding: .4rem;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    cursor: pointer;

    &:hover {
        background-color: $cor-link;
        transition: all .5s;
    }

    &:hover .nav__nome  {
        color: #000;
        transition: all .5s;
    }
}

.nav__img--ico {
    width: 30px;
}

.nav__nome {
   font-family: $fonte-menu;
   color: #fff;
}
