.incricao {

    margin-top: 3rem;
    padding-bottom: 3rem;

    .incricao__titulo {
        font-family: $fonte-titulo;
        font-size: 4rem;
        text-align: center;

        @include celular {
            font-size: 2.4rem;
        }
    }

    .inscricao__conteudo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .inscricao__form {
        display: flex;
        flex-direction: column;
        gap: .4rem;
        width: 350px;
        box-shadow: 1px 2px 5px 1px #000;
        padding: .8rem;
        border-radius: 10px;
        background-color: $cor-menu;

        @include celular {
            width: 320px;
        }
    }

    .inscricao__form--label {
        font-family: $fonte-corpo;
        color: #fff;
    }

    .inscricao__form--input {
        outline: 0;
        border: 0;
        border-bottom: 2px solid #000;
        margin-bottom: .5rem;
        font-size: 1.5rem;
        background-color: transparent;
        color: #000;

        @include celular {
            font-size: 1.1rem;
        }
    }

    .inscricao__form--input::placeholder {
        color: #fff;
    }

    .inscricao__form--inputGenero {
        outline: 0;
        border: 0;
        border-bottom: 2px solid #000;
        margin-bottom: .5rem;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        margin-top: .5rem;

        @include celular {
            font-size: 1.1rem;
        }
    }

    .inscricao__form--inputGenero optgroup {
        background-color: $cor-menu;
    }

    .inscricao__form--inputModalidade {
        outline: 0;
        border: 0;
        border-bottom: 2px solid #000;
        margin-bottom: .5rem;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        margin-top: .5rem;

        @include celular {
            font-size: 1.1rem;
        }
    }

    .inscricao__form--inputModalidade optgroup {
        background-color: $cor-menu;
    }

    .btn__inscricao {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .btn__inscricao--enviar {
        border: 0;
        width: 120px;
        box-shadow: 2px 2px 5px 2px #000;
        padding: .4rem;
        font-size: 1.3rem;
        border-radius: 10px;
        cursor: pointer;
        background-color: $cor-menu;

        &:hover {
            background-color: #fff;
            transition: all .4s;
        }
        
    }

    .inscricao__form--TamCamiseta {
        outline: 0;
        border: 0;
        border-bottom: 2px solid #000;
        margin-bottom: .5rem;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        margin-top: .5rem;

        @include celular {
            font-size: 1.1rem;
        }
    }

    .inscricao__form--TamCamiseta optgroup {
        background-color: $cor-menu
    }
}