.main {
    

    .sobre__titulo {
        font-family: $fonte-titulo;
        font-size: 4rem;
        text-align: center;
        padding: 2rem 0rem;

        @include celular {
            font-size: 2.8rem;
        }
    }

    .sobre__info--projeto {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .sobre__info {
        width: 450px;
        padding: .5rem;
    }

    .sobre__info--p {
        margin-bottom: .6rem;
        font-family: $fonte-corpo;
        line-height: 1.4;
       
    }
}