/******** FONTES E CORES ********/
$cor-menu: #00a2ff;
$cor-link: #C7EF00;
$fonte-titulo: 'Alkatra', cursive;
$fonte-menu: 'Russo One', sans-serif;
$fonte-corpo: 'Sora', sans-serif;

/******** CONFIGURAÇÕES ********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    
}

img {
    display: block;
    max-width: 100%;
}

.js-scroll-barra {
    overflow: hidden;
}

/******** MIXINS ********/
@mixin celular {
    @media(min-width: 0px) and (max-width: 420px) {
        @content;
    }
}

@mixin tablet {
    @media(min-width: 420px) and (max-width: 1000px) {
        @content;
    }
}

@mixin desktop {
    @media(min-width: 1000px) and (max-width: 2000px) {
        @content;
    }
}

/******** MONTAGEM DA PÁGINA ********/
@import "../scss/header";
@import "../scss/sobre";
@import "../scss/corrida-info";
@import "../scss/inscricao";
@import "../scss/blog-corrida/blog-corrida-header";
@import "../scss/blog-corrida/blog-corrida-deRua";